name: docker
on:
  push:
    branches:
    - master

jobs:
  docker:        
    name: unit
    runs-on: self-hosted

    steps:
    - id: secrets
      uses: GoogleCloudPlatform/github-actions/get-secretmanager-secrets@master
      with:
        secrets: |-
          docker-token:projects/gcp-sm-demo-next/secrets/docker-registry-token/versions/latest

    - id: checkout
      uses: actions/checkout@v2

    - id: publish
      uses: docker/build-push-action@v1
      with:
        username: tam7t
        password: ${{ steps.secrets.outputs.docker-token }}
        repository: tam7t/dogecho
        tags: latest
