name: docker
on:
  push:
    branches:
    - main

steps:
- id: secrets
  uses: GoogleCloudPlatform/github-actions/get-secretmanager-secrets@master
  with:
    credentials: ${{ secrets.gcp_credentials }}
    secrets: |-
      token:gcp-sm-demo-next/docker-registry-token

- id: publish
  uses: docker/build-push-action@v1
  with:
    username: tam7t
    password: ${{steps.secrets.outputs.token}}
    repository: tam7t/dogecho
    tags: latest
